.ask{
  img{
    border: 0;
  }
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  .title{
    background: #fff;
    height: 90px;
    z-index: 6;
    max-width: 600px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-sizing: border-box;
    .title_t{
      overflow: hidden;
      height: 44px;
      padding: 0 18px;
      .questions{
        float: left;
        color: #E98B71;
        margin: 7px 0;
        position: relative;
        z-index: 1;
        cursor: pointer;
        font-size: 16px;
        line-height: 30px;
      }
      .answers{
        float: right;
        font-size: 0;
        height: 44px;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        position: relative;
        z-index: 1;
        img{
          width: 27px;
          height: 27px;
          margin: 9.5px 0;
        }
      }
      .search{
        height: 35px;
        margin: 4.5px 50px;
        .input{
          height: 100%;
          margin: 0 auto;
          border-radius: 4px;
          background-color: #F5F7F9;
          box-sizing: border-box;
          padding: 0 10px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          span{
            color: #4A4945;
            font-size: 14px;
          }
        }
      }
    }
    .title_b{
      height: 44px;
      display: flex;
      .nav{
        margin: 8px 0;
        flex: 1;
        position: relative;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        box-sizing: border-box;
        width: 65px;
        line-height: 28px;
        height: 30px;
        font-size: 14px;
        color: #999999;
        .line{
          display: none;
        }
      }
      .active{
        color: #4A4945;
        font-weight: bold;
        .line{
          width: 50px;
          display: block;
          height: 2px;
          margin: 0 auto;
          border-radius: 20px;
          background-color: #E98B71;
        }
      }
    }
  }
  .top{
    height: 90px;
    overflow: hidden;
  }
  .main{
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 15px;
    .article{
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid;
      border-bottom-color: #E7E2E5;
      margin: 0 auto;
      box-sizing: border-box;
      padding: 15px 0 10px 0;
      a{
        margin: 0 auto 5px auto;
        display: block;
        font-size: 18px;
        font-weight: bold;
        color: #4A4945;
        line-height: 25px;
        max-height: 50px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .content{
        position: relative;
        overflow: hidden;
        background-color: #F5F7F9;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        margin-bottom: 10px;
        margin-top: 10px;
        img{
          display: inline-flex;
          border-radius: 4px;
          background: none;
          width: 70px;
          height: 70px;
        }
        .cont{
          display: inline-flex;
          flex: 1;
          flex-direction: column;
          justify-content: center;
          margin-left: 15px;
          .cont_title{
            font-size: 14px;
            color: #313131;
            font-weight: bold;
            text-align: justify;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .author{
            margin-top: 5px;
            font-size: 13px;
            color: #999;
            text-align: justify;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
      .the_answers{
        overflow: hidden;
        font-size: 14px;
        line-height: 20px;
        color: #999999;
        box-sizing: border-box;
      }
      .none{
        color: #498DD0;
      }
      .go_answers{
        float: right;
        margin-left: 6px;
        .img{
          width: 19px;
          height: 19px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          img{
            width: 100%;
            overflow: hidden;
          }
        }
        .write{
          font-size: 14px;
          line-height: 20px;
          vertical-align: middle;
          display: inline-block;
          color: #E98B71;
          cursor: pointer;
        }
      }
    }
  }
}